{{>navbar}}
<div class="hero-container">
    <div class="hero-slider">
    <img class="pic" id="pic4" src="static/images/main bg 4.png">
    <img class="pic" id="pic3" src="static/images/main bg 1.png">
    <img class="pic" id="pic2" src="static/images/main bg 2.png">
    <img class="pic" id="pic1" src="static/images/main bg 3.png">
    </div>
    
    <div class="hero-content">
        <div class="hero-text">
            <h1>Unleash your inner Juanderlust.</h1>
            <p>We help juanderers like you discover Philippines' hidden gems.</p>

            <div class = "box">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Looking for?">
                    

                    <div class="dropdown">
                        <select class="search-category">
                        <option value="destination">Destination</option>
                        <option value="review">Review</option>
                        </select>
                    </div>        


                    <button class="search-button" onclick="handleSearch()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        
        </div>
    </div>
</div>

<script>
    function handleSearch() {

        var categorySelect = document.querySelector('.search-category');
        var selectedCategory = categorySelect.value;
        var searchInput = document.querySelector('.search-input').value;

        var searchURL = '';

        if(selectedCategory == 'review') {
            // adjust the URL for 'review'
            searchURL = '/searchresultreview?category=' + selectedCategory + '&q=' + encodeURIComponent(searchInput);
        } 
        else if(selectedCategory == 'destination') {
            // adjust the URL for 'destination'
            searchURL = '/searchresult?category=' + selectedCategory + '&q=' + encodeURIComponent(searchInput);
        } 
        else {
            // default URL for other categories
            searchURL = '/searchresult?category=' + selectedCategory + '&q=' + encodeURIComponent(searchInput);
        }

        window.location.href = searchURL;
    }
</script>


<style>
        .pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-animation: fade 40s infinite;
        animation: fade 40s infinite;
        }
        #pic1 {
        animation-delay: 0s;
        background-image: url('static/images/main bg 1.png');
        }
        #pic2 {
        background-image: url('static/images/main bg 2.png');
        animation-delay: 10s;
        }
        #pic3 {
        background-image: url('static/images/main bg 3.png');
        animation-delay: 20s;
        }

        #pic4 {
        background-image: url('static/images/main bg 4.png');
        animation-delay: 30s;
        }

        @-webkit-keyframes fade {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        34% {
            opacity: 0;
        }
        88% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        }
        @keyframes fade {
        0% {
            opacity: 1;
        }
        20% {
            opacity: 1;
        }
        34% {
            opacity: 0;
        }
        88% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        }
</style>

    
<!-- benefits -->
<div class="benefit-container">
    <div class="benefit">
        <img src="static/images/discover.png">
        <h3> Discover the possibilities </h3>
        <p> With nearly half a million attractions, hotels & more, you're sure to find joy. </p>
    </div>
    <div class="benefit">
        <img src="static/images/deals.png">
        <h3> Enjoy deals & delights </h3>
        <p> Quality activities. Great prices. Plus, earn Juanderlust credits to save more. </p>
    </div>
    <div class="benefit">
        <img src="static/images/trust.png">
        <h3> Travel you can trust </h3>
        <p> Read reviews & get reliable customer support. We're with you at every step. </p>
    </div>
</div>

<div class="gallery"> 
        <h2> Popular Destinations </h2>

        <div class="owl-carousel owl-theme">
            {{#each establishments}}
            <div class="destination-slide"> 
            <a href="/establishment/{{this._id}}">
                <img src="{{this.images.[0]}}" class="img-slider">
                <div class="image-text">
                    <p> {{this.category}} · {{this.location}} </p> <h4> {{this.name}} </h4>
                    <p class ="oratings"> <i class="fa fa-star" aria-hidden="true"> </i> {{this.rating}} overall ratings </p>
                </div>
            </a>
            </div>
            {{/each}}

        </div>

            <div class="ctr"> 
                <a href="/searchresult"><div class="btn-see">   See More </div></a> 
        </div>

    </div> 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
            loop: true,
            nav: true,
            dots: false,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"], // Customize the arrow icons if needed
            responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            }
            }
        });
        });
    </script>

    

    <link rel="stylesheet" href="path/to/owl.carousel.min.css">
    <link rel="stylesheet" href="path/to/owl.theme.default.min.css">
    <script src="path/to/jquery.min.js"></script>
    <script src="path/to/owl.carousel.min.js"></script>

        <div class="map" id="map">
        <h2> Confused where exactly your destination is?</h2> 
        <p>Click <i class="fa fa-map-marker" aria-hidden="true"></i> marker to see more details.</p>

        </div>

        <div class="google-map">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1yvR2FFo_-1kXbTSCC65VL8yURh1ZFss&ehbc=2E312F" width="640" height="480"></iframe>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>