{{>navbar}}
<div class="container">
        <div class="row">
            <div class="col-lg-3 left-container">
                <div class="profile-container2">
                    <img src="{{user.avatar}}" alt="Profile Picture" class="profile-picture2">
                    <h4 class="name">{{user.username}}</h4>
                    <h6 class="description">{{user.profileDescription}}</h6>
                    
                    <ul class="nav flex-column nav-pills mt-3">
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#reviews">Reviews</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9 right-container">
                <div class="content-container">
                    <div class="tab-content">
                        <div id="reviews" class="tab-pane fade">
                            <h1>Reviews</h1>
                            <div class="reviews-container">
                                {{#each reviews}}
                                    <div class="review">
                                        <h3>{{this.title}}</h3>
                                        <p>{{this.body}}</p>
                                        <p>Rating: {{this.rating}}</p>
                                        <!-- Add other review properties as needed -->
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>