{{>navbarLogged}}
    <div class="ctr">
        <div class="row">
            <div class="col-12">
                <h2>Results for "relaxing destination"</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>5 results found</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="dropdownMenu2">Sort by:</label>
                    </div>
                    <div class="dropdown rating">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Helpful
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Helpful</button>
                        <button class="dropdown-item" type="button">Recently added</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="slide-container">
        {{#each establishments}}
        <div class="destination-slide"> 
        <a href="/establishmentLogged/{{this._id}}">
            <img src="{{this.images.[0]}}" class="img-slider">
            <div class="image-text">
                <p> {{this.category}} · {{this.location}} </p> <h4> {{this.name}} </h4>
                <p class="oratings"> <i class="fa fa-star" aria-hidden="true"> </i> {{this.rating}} overall ratings </p>
            </div>
        </a>
        </div>
        {{/each}}
    </div>