<div id="profile-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 left-container">
                <div class="profile-container2">
                    <img src="{{profile.avatar}}" alt="Profile Picture" class="profile-picture2">
                    <h4 class="name">{{profile.username}}</h4>
                    <h6 class="description">{{profile.profileDescription}}</h6>
                
                <ul class="nav flex-column nav-pills mt-3">
                    <li class="nav-item">
                        <a class="nav-link" id="reviewsTabLink" data-bs-toggle="pill" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9 right-container">
            <div class="content-container">
                <div class="tab-content">
                    <div id="reviews" class="tab-pane fade">
                        <h1>Reviews</h1>
                        <div class="reviews-container">
                            <!-- Review containers will be added here -->
                            {{#each reviews}}
                                <div class="review-positioner">
                                    <div class="review-container">
                                        <div class="profile-container">
                                            <img class="profile-picture" src="{{this.user.avatar}}">
                                            <div class="post-details-container">
                                                <span class="profile-name"><a href="/profile/user/{{this.user._id}}" style="color: black; text-decoration: none;">{{this.user.username}}</a></span>
                                                <span class="post-date">Last edited: {{this.datePosted}}</span>
                                            </div>
                                        </div>
                                        <div class="review-rating-container">
                                            <!-- Render the review rating stars based on the 'rating' value -->
                                            {{#range 1 this.rating 1}}
                                                <i class="fa fa-star review-star-icon"></i>
                                            {{/range}}
                                        </div>
                                        <span class="review-title">
                                            {{this.title}}
                                        </span>
                                        <span class="review-content">
                                            {{this.body}}
                                        </span>
                                        <div class="photo-album">
                                            {{#each this.images}}
                                            <img class="photo-album-photo" src="{{this}}">
                                            {{/each}}
                                        </div>
                                        <div class="userbuttons-container">
                                            <div class="helpful-container">
                                                <span class="helpful-icon"></span>
                                                <span class="helpful-text">Helpful {{this.likes}}</span>
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <span class="unhelpful-icon"></span>
                                                <span class="helpful-text">Unhelpful {{this.dislikes}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
</div>