<div id="profile-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 left-container">
                <div class="profile-container2">
                    <img src="{{user.avatar}}" alt="Profile Picture" class="profile-picture2">
                    <h4 class="name">{{user.username}}</h4>
                    <h6 class="description">{{user.profileDescription}}</h6>
                
                <ul class="nav flex-column nav-pills mt-3">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#update-user-info">Update User Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="pill" href="#juanderlast-points">Juanderlast Points</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#promo-codes">Promo Codes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9 right-container">
            <div class="content-container">
                <div class="tab-content">
                    <div id="juanderlast-points" class="tab-pane fade show active">
                        <h1>Juanderlast Points</h1>
                        <div>
                            Currently, you have no Juanderlast Points!
                        </div>
                    </div>
                    <div id="promo-codes" class="tab-pane fade">
                        <h1>Promo Codes</h1>
                        <div>
                            No promo codes at the moment. Watch out for it!
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade">
                        <h1>Reviews</h1>
                        <div class="reviews-container">
                            <!-- Review containers will be added here -->
                            {{#each reviews}}
                                <div class="review-positioner">
                                    <div class="review-container">
                                        <div class="profile-container">
                                            <img class="profile-picture" src="{{review-pfp}}">
                                            <div class="post-details-container">
                                                <span class="profile-name"><a href="./profile1.html" style="color: black; text-decoration: none;">{{review-user}}</a></span>
                                                <span class="post-date">Last edited: {{review-date}}</span>
                                            </div>
                                        </div>
                                        <div class="review-rating-container">
                                            <!-- Render the review rating stars based on the 'rating' value -->
                                            {{#each (range rating)}}
                                                <i class="fa fa-star review-star-icon"></i>
                                            {{/each}}
                                        </div>
                                        <span class="review-title">
                                            {{review.title}}
                                        </span>
                                        <span class="review-content">
                                            {{review.body}}
                                            <span class="untruncate-button">Read more</span>
                                        </span>
                                        <span class="review-content untruncated-review">
                                            {{review.body}}
                                            <span class="truncate-button">Read less</span>
                                        </span>
                                        <div class="photo-album">
                                            {{#each review.images}}
                                                <img class="photo-album-photo" src="{{this}}">
                                            {{/each}}
                                        </div>
                                        <div class="userbuttons-container">
                                            <div class="helpful-container">
                                                <span class="helpful-icon"></span>
                                                <span class="helpful-text">Helpful {{review.helpfulFeedback}}</span>
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <span class="unhelpful-icon"></span>
                                                <span class="helpful-text">Unhelpful {{review.unhelpfulFeedback}}</span>
                                            </div>
                                            <div class="userreview-buttons-container">
                                                <div class="edit-button-container">
                                                    <button class="edit-button" data-bs-toggle="modal" data-bs-target="#editReviewModal">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="delete-button-container" data-bs-toggle="modal">
                                                    <button class="delete-button">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div id="update-user-info" class="tab-pane fade">
                        <h1>Update User Info</h1>
                        <form id="updateForm" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="profilePicture" class="form-label">Avatar</label>
                                <input type="file" class="form-control" id="profilePicture" accept="image/*"> <br>
                                <img id="profilePictureDisplay" class="profile-picture" src="{{profileData.pfp}}" alt="Profile Picture">
                            </div>
                            <div class="mb-3">
                                <label for="userName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="userName" placeholder="Enter your name" value="{{profileData.username}}">
                            </div>
                            <div class="mb-3">
                                <label for="userDescription" class="form-label">Description</label>
                                <textarea class="form-control" id="userDescription" placeholder="Enter your description">{{profileData.profileDescription}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" id="save">Save</button>
                        </form>
                        <div id="updateSuccessMessage" class="alert alert-success mt-3" style="display: none;">User info updated successfully.</div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
</div>
<script src="static/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="static/js/nav.js"></script>